.workoutBoard {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.controlDisplay{
    display: flex;
    flex-flow: row;
    padding: 1em
}

.react-kanban-column {
    background-color: var(--col-color);
}

.react-kanban-column-header span{
    color: var(--card-color);
    font-size: 1.5em;
}

.displayBoard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}