:root{
  --bg-color: #2E4172;
  --col-color: #162955;
  --card-color-do-do: #801515;
  --card-color-today: #AA6F39;
  --card-color-done: #273100;
  /* https://paletton.com/#uid=13L0u0kllllaFw0g0qFqFg0w0aF for color scheme, base RGB 2E4272 */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
