.exerciseRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.exerciseRowContainer { 
    display: flex;
    flex-flow: column;
}
.selectContainer{
    min-width: 10em;
    max-width: 20em;
    height: auto;
}