.cardBody {
    display: flex;
    flex-flow: column;
    background-color: var(--card-color);
    margin: 1em;
    padding: 1em;
    width: 15em
}
.showMore {
  display: grid;
  grid-template-columns: 0.3fr 2fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";
}
.modalWrapper .ant-modal-close{
    visibility: hidden;
}
.tagWrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.tagIcon {
    padding: 0.1em
}
.moreInfoBody {
    display: flex;
    flex-flow: column;
}
.info {
    text-align: center;
}
.modalHeader {
    display: flex;
    justify-content: space-between;
}